// =====================================================================================================================================
// Colors, etc.
// =====================================================================================================================================

$black : #000;
$offblack : #333333;

$white : #fff;
$offwhite: #f3f3f3;


$cGrey : #ccc;
$devilGrey : #666;
$darkGrey : #999999;

$ltoffblack : lighten($offblack, 45%); //#a6a6a6

// =====================================================================================================================================
// site colors
// =====================================================================================================================================

$text-color :#212326;
$hdr-text-color: #7c92ad;
$subHdr-text-color : #939da8;

$bk-color: #e4ebf3;

$grey : #c9d2dd;
$blueGrey : #939da8;


%ltbluegrad {
   background: -moz-linear-gradient(top,  rgba(228,235,243,1) 75%, rgba(254,254,255,0) 99%, rgba(255,255,255,0) 100%);
   background: -webkit-linear-gradient(top,  rgba(228,235,243,1) 75%,rgba(254,254,255,0) 99%,rgba(255,255,255,0) 100%);
   background: linear-gradient(to bottom,  rgba(228,235,243,1) 75%,rgba(254,254,255,0) 99%,rgba(255,255,255,0) 100%);
   filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ebf3', endColorstr='#00ffffff',GradientType=0 )";

}

/* social share  ------*/

$twitter: #1daced;
$facebook: #3c5a96;
$googleplus: #da4935;
$pinterest: #b8242a;

$alphaHalf: 0.5;


/* sizing ----- */

$gutter: 24px;
$halfgutter:( $gutter /2 );
$quartergutter: ($gutter/4);
$neggutter: ( -#{ $gutter } ); // -24px
$neghalfgutter: ( -#{ ( $gutter /2 ) }); // -12px

$maxwidth: 1200px;
$containerW: 990px;
$asideWidth: 312px;
$halfcontainerW:( $containerW /2 );
// =====================================================================================================================================
// Fonts etc.
// =====================================================================================================================================


$lato: "Lato", sans-serif;
$montserrat:  "Montserrat", sans-serif;

// =====================================================================================================================================
// common font stacks
// =====================================================================================================================================

$times-new-roman : "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times : Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia : Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana : Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma : Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica : Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial : Arial, Helvetica, "Nimbus Sans L", sans-serif;

$roboto : "Roboto", "Arial Black", "Gadget", sans-serif;
$robotoCondensed : "Roboto Condensed", "Arial", "Helvetica", sans-serif;
$openSans :  "Open Sans", "Arial", "Helvetica", sans-serif;
$openSansCondensed: "Open Sans Condensed", sans-serif;
$courier  : "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Set fonts here
$font-logo : $montserrat;

$font-body : $lato; //FreightSansProBook Regular
$font-headline : $lato; //FreightSansProBook Semi bold

$font-cto : $openSansCondensed; //ParkLane Light
