$lineW: 20px;
$lineH: 2px;
$lineClr: $text-color;
$transTime: 300ms;

.actToggle {
    display: block;
    position: absolute;
    right:0;
    top: 0;
    padding:$gutter;
    z-index: 1;

    span {
        display: inline-block;
        position: relative;
        width: $lineW;
        height: $lineH;
        background-color: $lineClr;
        -webkit-transition-property: background-color, -webkit-transform;
        transition-property: background-color, -webkit-transform;
        transition-property: background-color, transform;
        transition-property: background-color, transform, -webkit-transform;
        -webkit-transition-duration: $transTime;
        transition-duration: $transTime;
        float: left;

        &:before { margin-top: -6px; }
        &:after { margin-top: 6px; }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: $lineW;
            height: $lineH;
            background: $lineClr;
            -webkit-transition-property: margin, -webkit-transform;
            transition-property: margin, -webkit-transform;
            transition-property: margin, transform;
            transition-property: margin, transform, -webkit-transform;
            -webkit-transition-duration: $transTime;
            transition-duration: $transTime;
        }
    } //span

    &.active {
        span {
            transform: rotate(135deg);
            &:before {
                margin-top: 0;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            &:after {
                margin-top: 0;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        } //span
    } // .active

} //.actToggle

#sections {
    position: relative;

    .slide {
        @include transitionIt(all, 1s);
        transform: translateX(100%);
        position: absolute;
        top: 0; right:0;
        z-index: 10;
    }

    &.active .slide {
        transform: translateX(0%);
    }
}

#navMenu {
    width: 100%;
    @include mq(large) {width:200px;}
    // box-shadow: $grey -1px 2px 2px;
    border:2px solid $grey;
    border-width: 0 0 1px 1px;
    background-color: $white;
    padding: $halfgutter;
    font-size: 20px;
    ul > li{
      padding: $quartergutter;
      ul li{font-size: 14px;}
    }
}

