
$font-icon: "FontAwesome";
// Map icon names to font unicode characters
$icons: (
    search           : "\f002",
    facebook         : "\f09a",
    twitter          : "\f099",
    file             : "\f15b",
    file-text        : "\f15c",
    mobile           : "\f10b",
    caret-up         : "\f0d8",
    gear             : "\f013",
    tablet           : "\f10a",
    chevron-right    : "\f054"
);