%leadGradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262a2f+0,1f2225+47,181a1c+100 */
    background: #262a2f; /* Old browsers */
    background: -moz-linear-gradient(top,  #262a2f 0%, #1f2225 47%, #181a1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #262a2f 0%,#1f2225 47%,#181a1c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #262a2f 0%,#1f2225 47%,#181a1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262a2f', endColorstr='#181a1c',GradientType=0 ); /* IE6-9 */

}

%pCopy {
    font-size: 18px;
    line-height: 1.65em;
    color: $text-color;
    a {
        text-decoration: underline;
    }
}

%rsimg {
    height: auto; //  Make sure images are scaled correctly.
    max-width: 100%; // Adhere to container width.
    width: 100%;
}

%full-bleed {
    margin-left: $neggutter;
    margin-right: $neggutter;
}


%hide-content {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}


%show-content {
    overflow: visible;
    opacity: 1;
    max-height:initial;
}

